g{% extends 'modal_base.html' %}
{% block modal_body %}
  <form class="form-horizontal">
    
    <div class="form-group">
      <label class="control-label col-sm-3">Haemodialysis</label>
      <div class="col-sm-8">
	<input class="form-control" type="checkbox" ng-model="editing.haemodialysis">
      </div>
    </div>

    <div class="form-group" ng-show="editing.haemodialysis">
      <label class="control-label col-sm-3">Access Site</label>
      <div class="col-sm-8">
	<input class="form-control" type="text"
               data-items="12"
               ng-model="editing.access_site"
               ng-options="d for d in access_site_list"
               bs-typeahead
               >
      </div>
    </div>
    <div class="form-group" ng-show="editing.haemodialysis">
      <label class="control-label col-sm-3">Regional Dialysis Unit</label>
      <div class="col-sm-8">
	<input class="form-control" type="text" ng-model="editing.regional_unit" >
      </div>
    </div>
    <div ng-show="editing.haemodialysis">
      <h4>Dialysis Days</h4>
      <table class="table">
        <tr>
	  <td>
	    <label class="checkbox inline">
	      <input class="" type="checkbox" ng-model="editing.day_mon">
	      Mon
	    </label>
	  </td>
	  <td>
	    <label class="checkbox inline">
	      <input class="" type="checkbox" ng-model="editing.day_tue">
	      Tue
	    </label>
	  </td>
	  <td>
	    <label class="checkbox inline">
	      <input class="" type="checkbox" ng-model="editing.day_wed">
	      Wed
	    </label>
	  </td>
	  <td>
	    <label class="checkbox">
	      <input class="" type="checkbox" ng-model="editing.day_thu">
	      Thu
	    </label>
	  </td>
	  <td>
	    <label class="checkbox inline">
	      <input class="" type="checkbox" ng-model="editing.day_fri">
	      Fri
	    </label>
	  </td>
	  <td>
	    <label class="checkbox inline">
	      <input class="" type="checkbox" ng-model="editing.day_sat">
	      Sat
	    </label>
	  </td>
	  <td>
	    <label class="checkbox inline">
	      <input class="" type="checkbox" ng-model="editing.day_sun">
	      Sun
	    </label>
	  </td>
        </tr>    
      </table>
      <a href="" class="btn btn-primary" ng-click="prepopulate($event)" 
         data-day_mon="true"
         data-day_tue="false"
         data-day_wed="true"
         data-day_thu="false"
         data-day_fri="true"
         data-day_sat="false"
         data-day_sun="false">
        <i class="fa fa-file-text"></i> 
        MWF
      </a>
      <a href="" class="btn btn-primary" ng-click="prepopulate($event)" 
         data-day_mon="false"
         data-day_tue="true" 
         data-day_wed="false"
         data-day_thu="true" 
         data-day_fri="false"
         data-day_sat="true"
         data-day_sun="false"
         >
        <i class="fa fa-file-text"></i> 
        TTS
      </a>
    </div>
    <hr />
    <div class="form-group">
      <label class="control-label col-sm-3">Peritonealdialysis</label>
      <div class="col-sm-8">
	<input class="form-control" type="checkbox" ng-model="editing.peritonealdialysis">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-3">No RRT</label>
      <div class="col-sm-8">
	<input class="form-control" type="checkbox" ng-model="editing.no_rrt">
      </div>
    </div>
    

    <div class="form-group">
      <label class="control-label col-sm-3">Transplant</label>
      <div class="col-sm-8">
	<input class="form-control" type="checkbox" ng-model="editing.transplant">
      </div>
    </div>
    
    <div class="form-group" ng-show="editing.transplant">
      <label class="control-label col-sm-3">Donor Type</label>
      <div class="col-sm-8">

        <label class="radio-inline">
          <input class="" type="radio" value="DCD" ng-model="editing.donor_type">
          DCD
        </label>

        <label class="radio-inline">
          <input class="" type="radio" value="DBD" ng-model="editing.donor_type">
          DBD
        </label>

      </div>
    </div>
    
  </form>
{% endblock %}
