{% load staticfiles %}
<script type="text/javascript" src="{% static "js/renal/controllers.js" %}"></script>
<script type="text/javascript" src="{% static "js/renal/controllers/renal_hospital_number.js" %}"></script>
<script type="text/javascript" src="{% static "js/renal/controllers/diagnosis_hospital_number.js" %}"></script>
<script type="text/javascript" src="{% static "js/renal/controllers/diagnosis_add_episode.js" %}"></script>
<link href="{% static "css/renal.css" %}" rel="stylesheet" media="all">
