{% load staticfiles %}
<html>
  <head>
    <link href="{% static "bootstrap-3.1.0/css/bootstrap.css" %}" rel="stylesheet" media="all">
    <style>
      .episode { page-break-after: always; }
      .spaced  { min-height: 300px; }
      @media print {
        h4 { font-size: 1.1em; }
        h2 { font-size: 1.1em; }
        .spaced  { min-height: 100px; }
      }
    </style>
  </head>
  <body>
    {% for episode in episodes %}
      <div class="container episode">
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <table class="table table-condensed">
              <tr>
                <td>RR</td>
                <td></td>
                <td>Mobile</td>
                <td>[ ] </td>
              </tr>
              <tr>
                <td>SATS</td>
                <td></td>
                <td>TEDS</td>
                <td> [ ] </td>
              </tr>
              <tr>
                <td>HR</td>
                <td></td>
                <td>Heparin</td>
                <td>[ ] </td>
              </tr>
              <tr>
                <td>BP</td>
                <td></td>
                <td>Warfarin</td>
                <td>[ ]</td>
              </tr>
              <tr>
                <td>Temp</td>
                <td></td>
                <td>Abx:</td>
                <td></td>
              </tr>
              <tr>
                <td>Obs Summary</td>
                <td></td>
                <td>Indication</td>
                <td>[ ]</td>
              </tr>
              <tr>
                <td>BM</td>
                <td></td>
                <td>Start/Stop Date</td>
                <td><td>
              </tr>
              <tr>
                <td>Weight</td>
              </tr>
            </table>
          </div>
          <div class="col-md-6 col-xs-6">
            {% with episode.patient.demographics_set.get as demographics %}
              {% with episode.location_set.get as location %}
                <h1>
                  {{ demographics.name }}
                  <small>
                    {{ demographics.date_of_birth }} ({{ demographics.age }})
                  </small>
                </h1>
                <h4>
                  Hospital Number: {{ demographics.hospital_number }}
                </h4>
                <h4>
                  Consultant: {{ location.consultant }}
                </h4>
                <h4>
                  Ward {{ location.ward }}, Bed {{ location.bed }}
                </h4>
              {% endwith %}            
            {% endwith %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <h2>Diagnosis</h2>
            <table class="table">
              {% for diagnosis in episode.diagnosis_set.all %}
                <tr>
                  <td>
                    {{ diagnosis.condition }}
                  </td>
                  <td>
                    {{ diagnosis.details }}
                  </td>
                  <td>
                    {{ diagnosis.date_of_diagnosis }}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>

          <div class="col-md-6 col-xs-6">
            <h2>Allergies</h2>
            <table class="table table-condensed">
              {% for allergy in episode.patient.allergies_set.all %}
                <tr>
                  <td>
                    {{ allergy.drug }}
                  </td>
                  <td>
                    {{ allergy.details }}
                  </td>
                </tr>
              {% endfor %}
            </table>

            <h2>Past Medical History</h2>
            <table class="table table-condensed">
              {% for pmh in episode.pastmedicalhistory_set.all %}
                <tr>
                  <td>
                    {{ pmh.condition }}
                  </td>
                  <td>
                    {{ pmh.details }}
                  </td>
                  <td>
                    {{ pmh.year }}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>

        </div> <!-- Row -->

        <div class="row spaced">
          <h2>Assessment</h2>
        </div>

        <div class="row spaced">
          <h2>Examination</h2>
        </div>

        <div class="row">
          <h2>Impression</h2>
        </div>

        <div class="row spaced">
          <h2>Plan</h2>
        </div>

        <div class="row">
          <small>
          <p class="text-right">
            Name: ___________________________
          </p>
          <p class="text-right">
            Signature: ___________________________
          <p class="text-right">
            Bleep: ___________________________
          </p>
          
          </small>
        </div>
      </div>
    {% endfor %}
  </body>
</html>
